{% extends "web/base.html" %}
{% load static %}

{% block menu %}
    <style>
       #about_button {
        color: white;
        background-color:#376e6f;
        border-radius:15px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 10px 18px rgba(0,0,0,0.3);
    }
    </style>
{% endblock %}



{% block main %}
<main>
    <div class="main_info_block">
        <div class="info_header">
            <p class="info_header_main">Do Mon — динамично развивающаяся компания с большими амбициями.</p>
            <p>Мы хотим сделать рыбалку более осознанной.</p>
            <p>Бережнее относиться к окружающей нас природе и развивать принцип «поймал — отпусти».
            Инвестировать в развитие всей инфраструктуры, связанной с любительской рыбалкой, чтобы
            приобщить большое количество людей к природе и тем самым бороться с браконьерством.</p>
            <p>Мы хотим донести до широких масс, что рыбалка — это хобби, позволяющее насладиться
            природой и в одиночестве, и в компании близких людей, возможность получить новый опыт и
            невероятные эмоции.</p>
            <p>В нашем интернет магазине продаются только оригинальные изделия поставляемые
            напрямую заводами изготовителями, либо их официальными представителями. За
            все проданные нами товары мы несем гарантийные обязательства в соответствии с законом о
            защите прав потребителей.</p>
            <p>При возникновении гарантийных случаев необходимо обратиться к нам или в официальный
            сервисный центр производителя.</p>
            <p>В спорных ситуациях решение остается за экспертизой. Если экспертиза признает поломку по
            вине пользователя, все расходы оплачивает пользователь.</p>
        </div>

        <div class="info_2">
            <div class="info_2_title"><b style="font-size: 20px;">Do Mon - это:</b></div>

            <div>
                <ul>
                    <li>Уникальный формат магазинов "три в одном" – рыбалка, туризм и охота;</li>
                    <li>Общая площадь магазинов более 22 500 м2;</li>
                    <li>Более 90 000 наименований товаров;</li>
                    <li>Высокий сервис и качественное обслуживание;</li>
                    <li>Современный и инновационный подход к бизнесу;</li>
                    <li>Постоянный рост и стремление к развитию;</li>
                    <li>Индивидуальная работа с нашим покупателем.</li>
                </ul>

            </div>

            <div class="info_2_text">Сеть магазинов «Do Mon» была основана в 1999 году. Активная работа
                менеджеров позволяет регулярно предоставлять Вам возможность познакомиться с самыми
                последними новинками. Сотрудники компании - опытные охотники, рыболовы, туристы - всегда
                готовы прийти на помощь в выборе необходимого для Вас товара.
            </div>
        </div>

        <div class="info_assort">
            <div class="info_assort_title">В нашем ассортименте:</div>
            <div class="info_assort_table">
                <ul>
                    <li> Cпециализированная одежда и обувь для всех сезонов</li>
                    <li> Удилища</li>
                    <li> Катушки</li>
                    <li> Различные виды приманки</li>
                    <li> Чехлы для снастей</li>
                    <li> Различные виды приманок от ведущих производителей</li>
                    <li> Эхолоты и навигаторы</li>
                </ul>
            </div>
        </div>

        <div class="info_discount">
            <div class="info_discount_title">СИСТЕМА СКИДОК</div>
            <div>Скидки накопительные, рекомендуем регистрироваться при оформлении
            заказа и все последующие заказы совершать на зарегистрированного
            Вами покупателя. На первый заказ скидок нет!</div>
            <div class="info_discont_img">
                <img src="{% static 'img/discont.png' %}" alt="">
            </div>
            <div>На товары со скидкой и некоторые группы товаров: Лодки, моторы, эхолоты, камеры и др.
            скидка может не распространяться.
            Более точно ответят наши менеджеры.</div>

        </div>

        <div class="info_sponsor">
            <div class="info_sponsor_title">ОФИЦИАЛЬНЫЙ СПОНСОР ТУРНИРОВ</div>
            <div class="info_sponsor_text1">
                С 3 по 5 сентября 2021 года на Чебоксарском водохранилище прошел ежегодный турнир по
                ловле хищника спиннингом с лодок «Волжский хищник». 29 опытных экипажей боролись за
                памятные кубки, грамоты и ценные призы от спонсоров турнира. Общий призовой фонд составил
                1 000 000 рублей. За 2 тура соревнований было поймано почти 195 кг рыбы, вес самой крупной
                щуки составил 8 кг 333 гр., а самый крупный судак потянул на 5 кг 69 гр. По правилам турнира
                в зачет идет только живая рыбы, которая после взвешивания отправляется в родную стихию.
                Бережное отношение к природе является одним из главных принципов компании MaxFishing,
                поэтому мы с большим удовольствием выступили в роли титульного спонсора данного мероприятия.
            </div>
            <div class="info_sponsor_img1"><img src="{% static 'img/sponsor1.png' %}" alt=""></div>

            <div class="info_sponsor_text2">
                Популярный турнир по ловле трофейного судака «Волжская заруба» традиционно отличается
                напряженной борьбой, яркими эмоциями и крупными трофеями. В 2021 году за кубок чемпионов и
                главный приз турнира - катер Albakore 470 Lite Fish боролись 40 экипажей. Компания
                MaxFishing не только выступила в роли генерального партнера турнира, но и представила свою
                команду в составе Карчинского Евгения и Прохорова Игната, где ребята получили свой первый
                соревновательный опыт.
            </div>
            <div class="info_sponsor_img2"><img src="{% static 'img/sponsor2.png' %}" alt=""></div>
        </div>
    </div>
</main>
{% endblock %}
